.Centralizar{
    margin: 0 auto;
    width: 900px;
}

.Encabezado{
    height: 170px;
}

#LogoPrincipal{
    width: 900px;
    height: 170px;
    display: block;
    position: relative;
    box-shadow: 10px 10px 10px black;
}

.Menu{
    background-color: rgb(76, 0, 255);
    height: 40px;
}

nav ul li{
    padding: 25px;
    line-height: 40px;
}

li{
    display: inline;
}

ul{
    padding: 0px;
}

a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.LadoIzquierdo{
    margin: 5px 0px;
    width: 200px;
    height: 515;
    background-color: rgb(76, 0, 255);
    float: left;
}

.LadoDerecho{
    margin: 5px 0px;
    width: 200px;
    height: 515;
    background-color: rgb(76, 0, 255);
    float: right;
}

.Publicidad{
    margin: 8px 5px 0px 5px;
    width: 190;
    height: 245;
}

#CentroPrincipal{
    margin: 5px 2px;
    float: right; 
    background-color: aqua; 
    width: 495px; 
    height: 515px;
}

.Categorias{
    font-size: 20px;
    font-weight: bold;
}

footer{
    text-align: right;
    height: 20px;
}

.Titulo{
    text-align: center;
    margin: 5px;
    font-size: 30px;
    font-weight: bold;
}

.Elemento{
    background-color: blue;
    margin: 5px;
    width: 485px;
    height: 146px;
}

.ImagenElemento{
    margin: 5px;
    width: 100px;
    height: 135;
    float: left;
}

.TituloElemento{
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    margin: 0px;
}

.TextoElemento{
    margin: 5px;
    font-size: 15px;
}